
/*复杂对象输入*/
.objectInput {
    box-sizing: border-box;
}
.objectInput .input-line {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    width: 100%;
}

.objectInput :last-child.input-line {
    margin-bottom: 0;
}

.objectInput .input-line .add-btn {
    width: 24px;
    margin-top: 3px;
}
.objectInput .input-item-flex{
    margin-right: 5px;
}

.objectInput .input-item-flex.switch{
    width: 48px;
    flex: none;
}

.objectInput .input-line .input-form-item {
    flex: 1;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}
.objectInput .ant-input-number.input-item {
    padding: 0 11px;
    box-sizing: border-box;
}

.objectInput :last-child.input-item {
    margin-bottom: 0;
    margin-right: 0;
}


.objectInput .ant-form-item {
    margin-bottom: 3px;
}

.objectInput :last-child.ant-form-item {
    margin-bottom: 0;
}

.objectInput .object-arr-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-right: 24px;
    box-sizing: border-box;
}

.objectInput .object-arr-header span {
    flex: 1;
    text-align: left;
}


.input-item.ant-switch {
    margin-right: 10px;
    width: auto;
    flex: 0;
}

.object-form-item {

}

.object-form-item.ant-form-item-has-feedback .ant-form-item-children-icon {
    display: none !important;
}

.auto-form{
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
}
.auto-form .auto-form-container{
    height: calc(100% - 42px);
    overflow-y: auto;
    position: relative;
    margin-bottom: 10px;
}
.auto-form .ant-input{
    min-width: 250px;
}
.auto-form .ant-input-password{
    min-width: 250px;
}
.auto-form .ant-input-password .ant-input{
    min-width: 150px;
}

.auto-form .ant-input-number{
    min-width: 250px;
}

.auto-form .objectInput .ant-input{
    min-width: 60px;
}
.auto-form .auto-type-form-item .ant-select{
    min-width: 150px;
}

.auto-form .auto-type-form-item .ant-select-multiple{
    min-width: 250px;
}

.auto-form .objectInput .input-line .input-item-flex{
    flex: 1;
}
.auto-form .objectInput .input-line .input-item-flex .ant-select,.auto-form .objectInput .input-line .input-item-flex .ant-input{
    width: 100%;
}

.auto-form .objectInput .object-arr-header{
    padding-right: 48px;
    line-height: 31px;
}
.auto-form .objectInput .object-arr-header span{
    margin-right: 5px;
    flex: 1;
}

/*参数配置界面样式*/
.auto-form .group-title .ant-divider-inner-text{
    font-weight: bold;;
}

.auto-form .auto-type-form-item .ant-form-item-control-input-content{
    flex-wrap: wrap;
}
